* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    max-width: fit-content;
    margin: 0 auto;
    background-color: rgb(9, 9, 9);
    background-image: url("https://img4.goodfon.ru/original/1920x1080/3/90/pennywise-film-ono-demon-kloun.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 56px;
    text-align: center;
    font-family: "Monoton", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 500;
    color: #a60101;
    padding-left: 15px;
    animation: textColorChange 2s infinite;
}

@keyframes textColorChange {
    0% {
        color: #a60101;
    }
    50% {
        color: #ff0000;
    }
    100% {
        color: #a60101;
    }
}

#search-form-container {
    width: 370px;
    margin: 40px auto;
    padding: 20px;
    border: 5px dotted rgba(243, 243, 243, 0.78);
    background-color: rgba(101, 5, 49, 0.51);
    box-shadow: 2px 2px 10px -10px black;
    text-align: center;
    border-radius: 20px;
}

#search-form-container label{
    font-family: "Rubik Bubbles", system-ui;
    letter-spacing: 1px;
    
}

#search-form-container {
    animation: borderColorChange 2s infinite;
}

@keyframes borderColorChange {
    0% { border-color: rgba(243, 243, 243, 0.78); }
    50% { border-color: rgb(241, 206, 132); }
    100% { border-color: rgba(243, 243, 243, 0.78); }
}


.control-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.88);
}

.control-container input,
.control-container select {
    width: 64%;
    padding: 2px;
    font-size: 14px;
    border-radius: 7px;
}

#search-button {
    display: block;
    background-color: #ffffff;
    margin: 26px auto 10px;
    padding: 4px 16px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid rgba(255, 217, 0, 0.67);
    cursor: pointer;
    font-size: 0.9em;
    scale: 1;
    transition: background-color 0.6s ease, scale 0.3s ease-in-out;
}

#search-button:hover {
    background-color: darkred;
    color: azure;
    scale: 0.9;
}

#status-output {
    width: 60%;
    min-height: 43px;
    margin: 16px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Stick", sans-serif;
    font-style: normal;
    font-size: 1rem;
}

#search-results-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.cinema-card {
    display: flex;
    width: 300px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    border: 3px outset rgba(252, 252, 252, 0.609);
    border-radius: 17px;
    background-color: rgba(161, 8, 23, 0.77);
    box-shadow: 2px 2px 10px -10px black;
    cursor: pointer;
    font-style: normal;
    color: rgba(255, 255, 255, 0.88);
    transition: background-color 0.3s linear;
}

.cinema-card:hover {
    background-color: #ff0000; 
}

.cinema-card .poster {
    overflow: hidden;
}

.cinema-card .poster img {
    height: 100%;
    border-radius: 4px;
}

.cinema-card .info {
    flex: 0 0 60%;
    margin-left: 16px;
    overflow: auto;
}

.cinema-card .rating {
    margin: 0;
    font-size: 10px;
}

.cinema-card .title {
    margin: 6px 0 10px;
    font-size: 14px;
}

.cinema-card .year {
    margin-bottom: 10px;
    font-size: 12px;
}

#fixed-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#cinema-full-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 150px auto 0;
    padding: 20px;
    border: 3px outset rgba(252, 252, 252, 0.609);
    border-radius: 20px;
    background-color: rgba(161, 8, 23, 0.95);
    color: rgba(255, 255, 255, 0.88);
    box-shadow: 3px 3px 10px -8px black;
    max-width: 800px;
    width: 90%;
    opacity: 0;
    transition: opacity 0.6s;
}

#cinema-full-card .poster {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cinema-full-card .poster img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#cinema-full-card .info {
    flex: 0 0 60%;
    margin-left: 20px;
    overflow: auto;
}

#cinema-full-card .info {
    flex: 1;
    margin-left: 20px;
    overflow: auto;
}

#cinema-full-card button {
    align-self: flex-start;
    cursor: pointer;
    font-size: 26px;
    border: none;
    background-color: transparent;
}